

.navbar{
      position: sticky;
      top: 0;
  z-index: 10;
  background-color: white;

}
.navbar h2{
  color: orange;
  margin-left: 3rem;
  font-weight: bold;
}
ul li{
  font-size: 1rem;
  font-weight:600;
  padding:0px 1rem;
}
   
.button{
  border-radius: 30px;
  margin-left: 7rem;
  padding: 0.5rem 2.5rem;
}

@media (max-width: 990px) {
  .button {
      border-radius: 25px;
      margin-left: 0rem;
      width: 60%;
      margin: auto;
    }
        .conatct-button{
         
          text-align: center;
        }

}
/* 

@media (min-width: 601px) and (max-width: 1200px) {
  .product-card {
    width: 40%;

  }


} */